@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'Circe';
    src: url(../assets/fonts/CirceRegular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(../assets/fonts/CirceBold.ttf) format("truetype");
    font-weight: bold;
}