.modal {
  position: relative;
  margin: 0 auto;
  max-width: 320px;
  height: 710px;
  background-color: var(--primary-back-color);
  padding: 20px 11px 37px 9px;
  z-index: 100;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);;
  z-index: 1040;
}

.modalCloseBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
}

.modalCloseIcon {
  width: 16px;
  height: 16px;
}

.modalTitle {
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 40px;
}

.modalWrappenTransaction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}

.modalTransactionIncome {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  color: #e0e0e0;
}

.modalTransactionExpense {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #e0e0e0;
}

.activeTransactionIncome {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  color: var(--green-text-color);
}

.activeTransactionExpense {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--red-text-color);
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  border-radius: 30px;
}
.toggleSwitch input[type='checkbox'] {
  display: none;
}
.toggleSwitch .switch {
  position: absolute;
  cursor: pointer;
  background: var(--primary-back-color);
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggleSwitch .switch::before {
  position: absolute;
  content: '';
  right: 0;
  top: -2px;
  width: 44px;
  height: 44px;
  background: var(--red-text-color);
  border-radius: 50%;
  transition: transform 0.3s ease;
  background-image: url(../ModalAddTransaction/images/expense.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.toggleSwitch input[type='checkbox']:checked + .switch::before {
  transform: translateX(-35px);
  background-color: var(--green-text-color);
  background-image: url(../ModalAddTransaction/images/income.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modalInut {
  width: 100%;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  cursor: pointer;
  padding: 8px 10px;
  outline: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.modalInput::placeholder {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.5;
  color: var(--gray-text-color);
}

.selectPlaceholderText {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.5;
  color: var(--gray-text-color);
}

.modalSelect {
  position: relative;
  
}

.invalidFeedbackSelect {
  position: absolute;
  color: red;
  font-size: 0.9rem;
  top: 30%;
  left: 23%;
}

.formInputSum {
  width: 100%;
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  padding: 8px 10px;
  margin-top: 40px;
  outline: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

input {
  outline: none;
  border: none;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-text-color);
}

.inputDatetime {
  position: relative;
  padding: 8px 10px;
  outline: none;
  border: none;
  margin-top: 40px;
  border-bottom: 1px solid #e0e0e0;

}


.calendarIcon {
  position: absolute;
  top: 8px;
  right: 20px;
  width: 24px;
  height: 24px;
}

.inputCommentText {
  width: 100%;
  height: 84px;
  padding: 8px 10px;
  outline: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 40px;
  margin-top: 40px;
}

.inputCommentText::placeholder {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.5;
  color: var(--gray-text-color);
}

.btnCancel {
  width: 300px;
  display: block;
  margin: 0 auto;
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--blue-text-color);
  background: var(--primary-back-color);
  border: 1px solid var(--blue-back-color);
  border-radius: 20px;
  cursor: pointer;
  padding: 13px 65px 13px 71px;
}

.btnAdd {
  width: 300px;
  display: block;
  margin: 0 auto 20px auto;
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background: var(--green-back-color);
  border: 1px solid var(--blue-back-color);
  border-radius: 20px;
  border: transparent;
  cursor: pointer;
  padding: 13px 65px 13px 71px;
}

.modalWrapper {
position: relative;
}

.invalidFeedback {
  position: absolute;
  color: red;
  font-size: 0.9rem;
  top: 85px;
  left: 68px;
}


.invalidFeedbackDate {
  position: absolute;
  color: red;
  font-size: 0.9rem;
  top: 50px;
  left: 78px;
}


@media screen and (min-width: 767px) {
  .modal {
    max-width: 540px;
    height: 603px;
    background-color: var(--primary-back-color);
    border-radius: 20px;
    padding: 40px 80px;
  }

  .modalTitle {
    font-size: 30px;
  }

  .formInputSum {
    width: 190px;
    text-align: center;
  }

  .inputDatetime {
    width: 41%;
  }

  .modalWrapper {
    display: flex;
    align-items: flex-end;
    gap: 32px;
  }

  .inputCommentText {
    height: 32px;
  }
  .invalidFeedbackSelect {
    top: 41%;
    left: 33%;
  }

  .invalidFeedback {
    top: 90px;
    left: 17px;
  }

  .invalidFeedbackDate {
    position: absolute;
    color: red;
    font-size: 0.9rem;
    top: 50px;
    left: 14px;
  }

}
