.form {
  margin-top: 15px;
  width: 300px;

}
.wrappen {
  width: 80px;
  height: 40px;
background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 30px;
}

.formTitle {
font-family: 'Poppins';
font-size: 30px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
color: #000000;
margin-bottom: 40px;
}

.typeIncome {
font-family: 'Circe';
font-weight: 700;
font-size: 16px;
line-height: 1.5;
text-align: right;
color: #E0E0E0;
}

.typeExpense {
font-family: 'Circe';
font-weight: 700;
font-size: 16px;
line-height: 1.5;
color: #FF6596;
}


.label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  margin-bottom: 15px;

}


.formInputSum {
 text-align: center;
}




input {
  width: 100%;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  cursor: pointer;
  padding: 8px 10px;
  outline: transparent;
  border:none;
  border-bottom:  1px solid #E0E0E0;

}


.btn {
width: 300px;
height: 50px;
margin-bottom: 20px;
font-family: 'Circe';
font-size: 18px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #4A56E2;
background: #FFFFFF;
border: 1px solid #4A56E2;
border-radius: 20px;
cursor: pointer;
padding: 13px 65px 13px 71px;
}


.btn:hover, .btn:focus {
background: #24CCA7;
color: #FFFFFF;
border: transparent;
cursor: pointer;
}

input::placeholder {
font-family: 'Circe';
font-size: 18px;
line-height: 1.5;
color: #BDBDBD;
}
