@import-normalize;
/* bring in normalize.css styles */
@import url(./stylesheet/vars.css);
@import url(./stylesheet/fonts.css);
@import url(./stylesheet/reset.css);

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  line-height: 1.5;
}

.container {
  max-width: 1248px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (max-width:1247px) {
  .container {
    max-width: 704px;
    padding: 0 32px;
  }
}

@media screen and (max-width:767px) {
  .container {
    max-width: 278px;
    padding: 0 21px;
  }
}