.btnAdd {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0.9;
}

.btnAdd:focus {
  border: none;
  outline: none;
}

@media screen and (min-width: 767px) {
  .btnAdd {
    bottom: 20px;
    right: 20px;

  }
}

